
<div class="five wide column">
    <h3>Statistics</h3>
    <table class="ui celled table">
        <tbody>
            <tr>
                <td># Users</td>
                <td>{{users.length}}</td>
            </tr>
            <tr>
                <td># Tweets</td>
                <td>{{tweetCount}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="right floated five wide column">
    <h3>Create User</h3>
    <form class="ui form" id="admin_adduser">
        <div class="field">
            <label>Full Name</label>
            <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" name="name" id="new_user_name" placeholder="Full name">
            </div>
        </div>
        <div class="field">
            <label>E-Mail</label>
            <div class="ui left icon input">
                <i class="mail icon"></i>
                <input type="text" name="email" id="new_user_email" placeholder="E-Mail">
            </div>
        </div>
        <div class="field">
            <label>Password</label>
            <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" id="new_user_password" placeholder="Password">
            </div>
        </div>
        <div class="field">
            <label>Admin Account</label>
            <input type="checkbox" name="isAdmin" value="{{isAdmin}}" id="new_user_admin"/>
        </div>
        <button class="ui blue button" onclick="createUser()">Create</button>
    </form>
</div>
<div class="one wide column"></div>
<div class="sixteen wide column">
    <h3>Manage Users</h3>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>E-Mail</th>
                <th>Following</th>
                <th>Follower</th>
                <th>Admin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr id="user_{{_id}}">
                <td id="user_{{_id}}_id">{{_id}}</td>
                <td><div class="ui input"><input type="text" value="{{name}}" id="user_{{_id}}_name" name="name"/></div></td>
                <td><div class="ui input"><input type="text" value="{{email}}" id="user_{{_id}}_email" name="email"/></div></td>
                <td>{{following.length}}</td>
                <td>{{follower.length}}</td>
                <td><input type="checkbox" {{#if isAdmin}}checked="checked"{{/if}} id="user_{{_id}}_admin"/></td>
                <td>
                    <button class="ui icon button" onclick="deleteUser('{{_id}}')">
                        <i class="remove user icon"></i>
                    </button>
                    <button class="ui icon button" onclick="updateUser('{{_id}}')">
                        <i class="save icon"></i>
                    </button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    $(".form").submit(function (event) {
    event.preventDefault();
    });
</script>
