<form class="ui form" action="/login" method="POST">
    <div class="field">
        <div class="ui left icon input">
            <i class="mail icon"></i>
            <input placeholder="Email address" type="text" name="email"/>
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
        </div>
    </div>
    <button class="ui blue submit button">Login</button>
</form>
{{> formerror}}