<nav class="ui inverted menu">
    {{#if currentUser.isAdmin}}
    <header class="left menu">
        <a id="home" class="item" href="/">Admin Panel</a>
        <a id="users" class="item" href="/users">Users</a>
        <a id="firehose" class="item" href="/firehose">Firehose</a>
    </header>
    <div class="right menu">
        <a id="settings" class="item" href="/account">Account</a>
        <a id="logout" class="item" href="/logout">Logout</a>
    </div>
    {{else}}
    <header class="left menu">
        <a id="home" class="item" href="/">Home</a>
        <a id="users" class="item" href="/users">Users</a>
        <a id="follower" class="item" href="/follower">Follower</a>
        <a id="following" class="item" href="/following">Following</a>
        <a id="firehose" class="item" href="/firehose">Firehose</a>
    </header>
    <div class="right menu">
        <a id="settings" class="item" href="/account">Account</a>
        <a id="logout" class="item" href="/logout">Logout</a>
    </div>
    {{/if}}
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>
