<form class="ui form" action="/register" method="POST">
    <div class="field">
        <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="name" placeholder="Full name">
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
            <i class="mail icon"></i>
            <input type="text" name="email" placeholder="E-Mail">
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
        </div>
    </div>
    <button class="ui blue submit button">Sign up</button>
</form>
{{> formerror errors=signuperrors}}