<div class="ui feed">
    {{#if currentUser.isAdmin}}
<button class="ui red labeled icon button left floated" onclick="deleteMarkedTweets()">
    <i class="remove icon"></i> Delete Marked
</button>
{{/if}}
    {{#each tweets user=user}}
    <div class="event">
        <div class="content">
            <div class="summary">
                {{#if ../currentUser.isAdmin}}
                <input type="checkbox" data-id="{{_id}}" class="bulk_remove"/>
                {{/if}}
                <div class="user">{{user.name}}</div>
                <div class="date">{{formatRelative date}}</div>
                {{#sameIdOrAdmin user ../currentUser}}
                <div class="ui mini red icon button right floated" onclick="deleteTweet('{{_id}}')">
                    <i class="remove icon"></i>
                </div>
                {{/sameIdOrAdmin}}
            </div>
            <div class="extra text">
                {{#if img}}
                {{#if img.contentType}}
                <img class="ui small left floated image" src="data:{{img.contentType}};base64,{{base64 img.data}}"/>
                {{/if}}
                {{/if}}
                {{text}}
            </div>
        </div>
    </div>
    {{/each}}
</div>
