<div class="ui card">
    <a class="image" href="/user/{{user._id}}">
        <i class="user icon"></i>
    </a>
    <a class="content" href="/user/{{user._id}}">
        <div class="header">{{user.name}}</div>
        <div class="meta">
            Joined {{year user.date}}
        </div>

    </a>
    <a class="extra content" href="/user/{{user._id}}">
        <span class="right floated">
            Follower {{user.follower.length}}<i class="user icon"></i>
        </span>
        <span>
            Following {{user.following.length}}<i class="user icon"></i>
        </span>
    </a>
    {{#if unfollow}}
    <div class="ui bottom attached button" onclick="unfollowUser('{{user._id}}')">
        <i class="remove user icon"></i>
        Unfollow
    </div>
    {{/if}}
</div>
