<div class="three wide column">
    <div class="content" data-user="{{user._id}}">
        <a class="header">{{user.name}}</a>
        <div class="meta">
            <span class="date">Joined in {{year user.date}}</span>
            {{#unless currentUser.isAdmin}}
            {{#unless isHome}}
            {{#if isFollower}}
            <a href="" onclick="unfollowUser('{{user._id}}')"><div><i class="remove user icon"></i> Unfollow</div></a>
            {{else}}
            <a href="" onclick="followUser('{{user._id}}')"><div><i class="add user icon"></i> Follow</div></a>
            {{/if}}
            {{/unless}}
            {{/unless}}
        </div>
    </div>
    <div class="extra content">
        <div id="userInfo">
            <a>
                <i class="talk icon"></i>
                <span id="tweetCount">{{user.tweetCount}}</span> Tweets
            </a>
            <br />
            <a>
                <i class="user icon"></i>
                <span id="followerCount">{{user.follower.length}}</span> Followers
            </a>
            <br />
            <a>
                <i class="user icon"></i>
                <span id="followingCount">{{user.following.length}}</span> Following
            </a>
        </div>
    </div>
</div>
