{{> mainmenu _id="account" }}

<section class="ui raised segment">
    <div class="ui form segment">
        <form action="/account" method="POST">
            <h3 class="ui header">Account</h3>
            <div class="field">
                <label>Full name</label>
                <input value="{{currentUser.name}}" type="text" name="name">
            </div>
            <div class="field">
                <label>Email</label>
                <input value="{{currentUser.email}}" type="text" name="email">
            </div>
            <div class="field">
                <label>Password</label>
                <input value="{{currentUser.password}}" type="password" name="password">
            </div>
            <button class="ui blue submit button">Save</button>
        </form>
        {{> formerror}}
    </div>
    {{#unless currentUser.isAdmin}}
    <div class="ui segment">
        Do you want to remove all your tweets?
        <button class="ui button" onclick="deleteAllTweets()">Yes</button>
    </div>
    {{/unless}}
</section>
