{{> mainmenu _id="firehose"}}

<section class="ui grid">
    <div class="one column centered row">
        <div class="twelve wide column">
            {{> tweetfeed user=currentUser}}
        </div>
    </div>
</section>


