{{> mainmenu _id="home"}}

<div id="info_area"></div>
<section class="ui grid">
    {{#if currentUser.isAdmin}}
    {{> adminpanel}}
    {{else}}
    <div class="two column row">
        {{> usersidebar user=currentUser isHome=true}}
        <div class="thirteen wide column">
            <div class="ui ten wide fluid form">
                <div id="login_form">
                    <form action="/tweet" method="POST" enctype="multipart/form-data">
                        <h3 class="ui header">Post a new Tweet</h3>
                        <div class="field">
                            <textarea name="text" maxlength="140" rows="3"></textarea>
                        </div>
                        <input name="img" type="file" accept="image/png, image/jpeg"/>
                        <button class="ui right floated blue submit button">Post</button>
                        <div class="ui horizontal divider">
                        </div>
                    </form>
                    {{> formerror}}
                </div>
            </div>
            {{> tweetfeed tweets=tweets}}
        </div>
    </div>
    {{/if}}
</section>
