{{> welcomemenu }}

<h1 class="ui header">Not really Twitter</h1>
<section class="ui two column centered grid">
    <div class="ui segment">
        <div class="one wide column row">
            <h3 class="ui header">Login</h3>
            {{> login}}
        </div>
        <div class="ui divider"></div>
        <div class="one wide column row">
            <h3 class="ui header">Sign up</h3>
            {{> signup}}
        </div>
    </div>
</section>