{{> mainmenu _id="users"}}

<section class="ui grid">
    <div class="two column row">
        {{> usersidebar user=user}}
        <div class="thirteen wide column">
            {{> tweetfeed}}
        </div>
    </div>
</section>

