{{> mainmenu _id="users"}}

<section class="ui raised segment">
    <div class="ui relaxed list">
        {{#each users}}
        <div class="item" id="user_{{_id}}">
            <i class="ui avatar image user icon"></i>
            <div class="content">
                <a class="header" href="/user/{{_id}}">{{name}}</a>
                <div class="description">
                    Follower {{follower.length}}<i class="user icon"></i>
                    Following {{following.length}}<i class="user icon"></i>
                    {{#if ../currentUser.isAdmin}}
                    <button class="ui red labeled icon button" onclick="deleteUser('{{_id}}')">
                        <i class="remove icon"></i> Delete
                    </button>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>

